body{
    background-color: rgb(234, 238, 241);

}

h1{
    color:rgb(55, 116, 55);
    background-image:url(/src/imagens/tortadelimao.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p{
    color: rgb(39, 43, 45)
}

img{
  width: 150px;
}

video{
    width: 100%;
}